[Unit]
Description=Automatically adjust screen-brightness

[Service]
Type=oneshot
ExecStart=/usr/bin/ambientLightFix_amdgpu

[Install]
WantedBy=multi-user.target
